## Data Analysis Process
#### Remember the process:

- Case Study
- **Get data**
- **Cleaning/Wrangling/EDA**
- Processing Data
- Modeling
 -Validation
- Reporting

### Instructions

1. Import the necessary libraries load the data and start a new notebook.
Using the same data as the previous lab: we_fn_use_c_marketing_customer_value_analysis.csv

2. Find  all of the categorical data.  Save it in a categorical_df variable.

3. Check for NaN values and decide what to do with them, do it now.

4. Check all unique values of columns.

5. Check dtypes. Do they all make sense as categorical data?

6. Does any column contain alpha and numeric data?  Decide how to clean it and do it now.

7. Would you choose to do anything else to clean or wrangle the categorical data?  Comment your decisions and do it now.

8. Compare policy_type and policy.  What information is contained in these columns.  Can you identify what is important?  

9. Check number of unique values in each column, can they be combined in any way to ease encoding?  Comment your thoughts and make those changes.

10.  Save the cleaned catagorical dataframe as categorical.csv   You will use this file again this week.

In [114]:
# Import the necessary libraries
import pandas as pd

import numpy as np

import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

In [115]:
df = pd.read_csv('/Users/leozinho.air/Desktop/ironhack_da/class_11/lab-cleaning-categorical-data/files_for_lab/we_fn_use_c_marketing_customer_value_analysis.csv')
df

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [116]:
# Categorical Data

df_categorical = df.select_dtypes(include = object)

df_categorical

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2/10/11,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,2/12/11,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,2/6/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,2/3/11,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [117]:
# Check for NaN values and decide what to do with them, do it now.

nan_values = df.isnull().sum()
nan_values

df_categorical.duplicated().values.any() # No duplicated

False

In [118]:
# Check all unique values of columns

for i in df_categorical.columns:
    print(f'The unique values in {i} are: {df_categorical[i].unique()}')

The unique values in Customer are: ['BU79786' 'QZ44356' 'AI49188' ... 'TD14365' 'UP19263' 'Y167826']
The unique values in State are: ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon']
The unique values in Response are: ['No' 'Yes']
The unique values in Coverage are: ['Basic' 'Extended' 'Premium']
The unique values in Education are: ['Bachelor' 'College' 'Master' 'High School or Below' 'Doctor']
The unique values in Effective To Date are: ['2/24/11' '1/31/11' '2/19/11' '1/20/11' '2/3/11' '1/25/11' '1/18/11'
 '1/26/11' '2/17/11' '2/21/11' '1/6/11' '2/6/11' '1/10/11' '1/17/11'
 '1/5/11' '2/27/11' '1/14/11' '1/21/11' '2/5/11' '1/29/11' '2/28/11'
 '2/12/11' '2/2/11' '2/7/11' '1/22/11' '2/13/11' '1/15/11' '1/8/11'
 '1/11/11' '1/28/11' '2/8/11' '2/23/11' '1/2/11' '2/16/11' '1/27/11'
 '1/23/11' '1/9/11' '2/11/11' '2/4/11' '2/1/11' '2/15/11' '2/26/11'
 '1/16/11' '1/1/11' '2/10/11' '1/24/11' '2/25/11' '1/12/11' '2/9/11'
 '1/19/11' '1/4/11' '2/14/11' '2/20/11' '2/18/11' '1/3/11' '1/13/11'
 '1/30/11' '2/22/11' '1/7/11']
The unique values in EmploymentStatus are: ['Employed' 'Unemployed' 'Medical Leave' 'Disabled' 'Retired']
The unique values in Gender are: ['F' 'M']
The unique values in Location Code are: ['Suburban' 'Rural' 'Urban']
The unique values in Marital Status are: ['Married' 'Single' 'Divorced']
The unique values in Policy Type are: ['Corporate Auto' 'Personal Auto' 'Special Auto']
The unique values in Policy are: ['Corporate L3' 'Personal L3' 'Corporate L2' 'Personal L1' 'Special L2'
 'Corporate L1' 'Personal L2' 'Special L1' 'Special L3']
The unique values in Renew Offer Type are: ['Offer1' 'Offer3' 'Offer2' 'Offer4']
The unique values in Sales Channel are: ['Agent' 'Call Center' 'Web' 'Branch']
The unique values in Vehicle Class are: ['Two-Door Car' 'Four-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car']
The unique values in Vehicle Size are: ['Medsize' 'Small' 'Large']

In [119]:
# Check dtypes. Do they all make sense as categorical data?

for i in df_categorical.columns:
    print(f'The datatype of {i} is: {df_categorical[i].dtype}') # Obviously all columns are obj
    
# There are some columns that no makes sense as categorical. -> e.g. Response/Gender can be converted to binary
                                                                #    Effective To Date can be converted to date-time

The datatype of Customer is: object
The datatype of State is: object
The datatype of Response is: object
The datatype of Coverage is: object
The datatype of Education is: object
The datatype of Effective To Date is: object
The datatype of EmploymentStatus is: object
The datatype of Gender is: object
The datatype of Location Code is: object
The datatype of Marital Status is: object
The datatype of Policy Type is: object
The datatype of Policy is: object
The datatype of Renew Offer Type is: object
The datatype of Sales Channel is: object
The datatype of Vehicle Class is: object
The datatype of Vehicle Size is: object

In [120]:
# Does any column contain alpha and numeric data?  Decide how to clean it and do it now.

# Loop to display the columns that have mixed alpha/num data
for column in df_categorical.columns:
    true_alphanum = False
    for index,value in df_categorical[column].items():
        if any(_.isalpha() for _ in str(value)) & any(_.isdigit() for _ in str(value)):
            true_alphanum = True
            break
    if true_alphanum:
        print(f'Column {column} contains mixed alphanumeric data.')

Column Customer contains mixed alphanumeric data.
Column Policy contains mixed alphanumeric data.
Column Renew Offer Type contains mixed alphanumeric data.

In [121]:
# 1. Customer

df_categorical['Customer'].nunique() # 9134 

# Each value in the 'Customer' column is unique and likely serves as an identifier
# There's no need to clean or modify this column since each entry appears to represent a different customer.

9134

In [122]:
# 2. Policy

df_categorical['Policy'].nunique() # 9
df_categorical['Policy'].unique() #'Corporate L3', 'Personal L3', 'Corporate L2', 'Personal L1',
                                  #'Special L2', 'Corporate L1', 'Personal L2', 'Special L1','Special L3'
       
# If the values in this column accurately represent distinct types or levels of insurance policies and are properly categorized,
# no further cleaning or modifications for this column may be necessary due to its limited and well-defined unique values.

array(['Corporate L3', 'Personal L3', 'Corporate L2', 'Personal L1',
       'Special L2', 'Corporate L1', 'Personal L2', 'Special L1',
       'Special L3'], dtype=object)

In [123]:
# 3. Renew Offer Type

df_categorical['Renew Offer Type'].nunique() # 4
df_categorical['Renew Offer Type'].unique() # 'Offer1', 'Offer3', 'Offer2', 'Offer4'

# This suggests that this column likely represents different types or categories of renewal offers provided to customers. 
# no further cleaning is necessary

array(['Offer1', 'Offer3', 'Offer2', 'Offer4'], dtype=object)

In [124]:
# Would you choose to do anything else to clean or wrangle the categorical data? 

# 1. Converting Response to binary - Gender values to dummies

df_categorical['Response'] = np.where(df_categorical['Response'] == 'Yes', 1,0).astype(int)

# 2. One-hot encoding over Gender

df_categorical = pd.get_dummies(df_categorical, columns=['Gender'])

# 3. Converting Effective to Date to datetime type

df_categorical['Effective To Date'] = pd.to_datetime(df_categorical['Effective To Date'], format='%m/%d/%y')

df_categorical

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size,Gender_F,Gender_M
0,BU79786,Washington,0,Basic,Bachelor,2011-02-24,Employed,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize,1,0
1,QZ44356,Arizona,0,Extended,Bachelor,2011-01-31,Unemployed,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize,1,0
2,AI49188,Nevada,0,Premium,Bachelor,2011-02-19,Employed,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize,1,0
3,WW63253,California,0,Basic,Bachelor,2011-01-20,Unemployed,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize,0,1
4,HB64268,Washington,0,Basic,Bachelor,2011-02-03,Employed,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,0,Basic,Bachelor,2011-02-10,Employed,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize,0,1
9130,PK87824,California,1,Extended,College,2011-02-12,Employed,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize,1,0
9131,TD14365,California,0,Extended,Bachelor,2011-02-06,Unemployed,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize,0,1
9132,UP19263,California,0,Extended,College,2011-02-03,Employed,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large,0,1
9133,Y167826,California,0,Extended,College,2011-02-14,Unemployed,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize,0,1

In [125]:
# Compare policy_type and policy.
# What information is contained in these columns
# Can you identify what is important?

columns = ['Policy Type', 'Policy']
for i in df_categorical[columns]:
    print(f'The unique values in {i} are: {df_categorical[i].unique()}')

# Policy Type seems to categorize the broad types or categories of insurance policies.
# Policy gives more detailed information about the specific levels or tiers within each policy type.

The unique values in Policy Type are: ['Corporate Auto' 'Personal Auto' 'Special Auto']
The unique values in Policy are: ['Corporate L3' 'Personal L3' 'Corporate L2' 'Personal L1' 'Special L2'
 'Corporate L1' 'Personal L2' 'Special L1' 'Special L3']

In [126]:
# Check number of unique values in each column, can they be combined in any way to ease encoding? 

# Policy Type could be a higher-level category and Policy a more detailed breakdown within each type.
# Therefore i can potentially combine the two column in a new one.
# Then i will encode the two original columns with One-Hot encoding and Label econding

# 1. Combine the Policy and Policy type columns
df_categorical['Policy Combined'] = df_categorical['Policy Type'] + '_' + df_categorical['Policy'].apply(lambda x: x.split(' ')[1])
df_categorical.drop(columns=['Policy'], inplace=True)

# 2. One-Hot encoding over Policy type

policy_type_encoded = pd.get_dummies(df_categorical['Policy Type'])

# Concatenate the one-hot encoded Policy Type with the original dataframe
df_categorical = pd.concat([df_categorical, policy_type_encoded], axis=1)

df_categorical.drop('Policy Type', axis=1, inplace=True)

# Standardize columns name

cols = []
for i in range(len(df_categorical.columns)):
    cols.append(df_categorical.columns[i].lower().replace(' ', '_')) 
df_categorical.columns = cols

In [127]:
# Saving the cleaned df in a .csv file 

# Define the filename for the CSV file
filename = 'categorical.csv'

# Save the DataFrame to a CSV file
df_categorical.to_csv(filename, index=True)

In [128]:
df_categorical

,customer,state,response,coverage,education,effective_to_date,employmentstatus,location_code,marital_status,renew_offer_type,sales_channel,vehicle_class,vehicle_size,gender_f,gender_m,policy_combined,corporate_auto,personal_auto,special_auto
0,BU79786,Washington,0,Basic,Bachelor,2011-02-24,Employed,Suburban,Married,Offer1,Agent,Two-Door Car,Medsize,1,0,Corporate Auto_L3,1,0,0
1,QZ44356,Arizona,0,Extended,Bachelor,2011-01-31,Unemployed,Suburban,Single,Offer3,Agent,Four-Door Car,Medsize,1,0,Personal Auto_L3,0,1,0
2,AI49188,Nevada,0,Premium,Bachelor,2011-02-19,Employed,Suburban,Married,Offer1,Agent,Two-Door Car,Medsize,1,0,Personal Auto_L3,0,1,0
3,WW63253,California,0,Basic,Bachelor,2011-01-20,Unemployed,Suburban,Married,Offer1,Call Center,SUV,Medsize,0,1,Corporate Auto_L2,1,0,0
4,HB64268,Washington,0,Basic,Bachelor,2011-02-03,Employed,Rural,Single,Offer1,Agent,Four-Door Car,Medsize,0,1,Personal Auto_L1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,0,Basic,Bachelor,2011-02-10,Employed,Urban,Married,Offer2,Web,Four-Door Car,Medsize,0,1,Personal Auto_L1,0,1,0
9130,PK87824,California,1,Extended,College,2011-02-12,Employed,Suburban,Divorced,Offer1,Branch,Four-Door Car,Medsize,1,0,Corporate Auto_L3,1,0,0
9131,TD14365,California,0,Extended,Bachelor,2011-02-06,Unemployed,Suburban,Single,Offer1,Branch,Four-Door Car,Medsize,0,1,Corporate Auto_L2,1,0,0
9132,UP19263,California,0,Extended,College,2011-02-03,Employed,Suburban,Married,Offer3,Branch,Four-Door Car,Large,0,1,Personal Auto_L2,0,1,0
9133,Y167826,California,0,Extended,College,2011-02-14,Unemployed,Suburban,Single,Offer4,Call Center,Two-Door Car,Medsize,0,1,Corporate Auto_L3,1,0,0