 Lab | Cleaning categorical data

For this lab, we will be using the dataset in the Customer Analysis Business Case. This dataset can be found in `files_for_lab` folder. In this lab we will explore categorical data.

## Data Analysis Process
#### Remember the process:

- Case Study
- **Get data**
- **Cleaning/Wrangling/EDA**
- Processing Data
- Modeling
 -Validation
- Reporting

### Instructions

1. Import the necessary libraries load the data and start a new notebook.
Using the same data as the previous lab: we_fn_use_c_marketing_customer_value_analysis.csv

2. Find  all of the categorical data.  Save it in a categorical_df variable.

3. Check for NaN values and decide what to do with them, do it now.

4. Check all unique values of columns.

5. Check dtypes. Do they all make sense as categorical data?

6. Does any column contain alpha and numeric data?  Decide how to clean it and do it now.

7. Would you choose to do anything else to clean or wrangle the categorical data?  Comment your decisions and do it now.

8. Compare policy_type and policy.  What information is contained in these columns.  Can you identify what is important?  

9. Check number of unique values in each column, can they be combined in any way to ease encoding?  Comment your thoughts and make those changes.

10.  Save the cleaned catagorical dataframe as categorical.csv   You will use this file again this week.

In [1]:
import pandas as pd
import numpy as np

# This is just so that we don't get annoying warnings
import warnings
warnings.filterwarnings('ignore')

# This is the most common viz library in python
import matplotlib.pyplot as plt
%matplotlib inline

# This one is the above on steroids
import seaborn as sns

In [2]:
#a function that standardizes all the columns names and deletes null values if there is any
def clean_data (dataframe):
    cols = [] 

    for i in range(len(dataframe.columns)):
        cols.append(dataframe.columns[i].lower().replace(' ','_'))
    dataframe.columns = cols

    for column in dataframe.columns:
        if dataframe[column].isnull().any():
            dataframe = dataframe.dropna(subset=[column])

    dataframe.drop_duplicates()

   
    return dataframe

#function to drop the null values dependending on a treshold

def drop_nulls(dataframe, threshold=0.10):
    
    # Calculate the percentage of null values in each column
    null_percentage = dataframe.isnull().mean(axis=0)

    # Calculate the total number of columns
    total_columns = dataframe.shape[1]

    # Iterate through each row and drop it if it has null values in columns with
    # a null percentage less than the threshold
    
    for index, row in dataframe.iterrows():
        
        null_columns = [col for col in dataframe.columns if pd.isna(row[col])]
        
        if len(null_columns) / total_columns < threshold:
            
            dataframe = dataframe.drop(index)

    return dataframe

# this function will detect the categorical features that have only 2 unique values and does one hot enconding. 
def one_hot_encode(df):
  
    for column in df:
        unique_values = df[column].unique()
        
        if len(unique_values) == 2:
            # Perform one-hot encoding for binary columns
            df = pd.get_dummies(df, columns=[column], drop_first=False, dtype=int)
              
    return df

def unique_counts(df):
    unique_counts_df = pd.DataFrame()  # Create an empty DataFrame to store the results

    for column in df:
        value_counts = df[column].value_counts().reset_index()
        unique_counts_df[column] = value_counts['index']
        unique_counts_df[column + '_count'] = value_counts[column]

    return unique_counts_df

def frequent_values(df, n=3, replace_value='other'):

    for column in df.columns:
        value_counts = df[column].value_counts()
        top_n_values = value_counts.index[:n]

        # Replace values not in the top n with 'other'
        df[column] = df[column].apply(lambda x: x if x in top_n_values else replace_value)

    return df

In [3]:
df=pd.read_csv(r"C:\Users\pedro\Desktop\ironhack\extra_lab_categorical\lab-cleaning-categorical-data\files_for_lab\we_fn_use_c_marketing_customer_value_analysis.csv")
df

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [4]:
clean_data (df)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [5]:
df.dtypes

customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim            int64
months_since_policy_inception      int64
number_of_open_complaints          int64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
dtype: object

In [6]:
# turn date to datetime format
df['effective_to_date'] = pd.to_datetime(df['effective_to_date'])
df.dtypes

customer                                 object
state                                    object
customer_lifetime_value                 float64
response                                 object
coverage                                 object
education                                object
effective_to_date                datetime64[ns]
employmentstatus                         object
gender                                   object
income                                    int64
location_code                            object
marital_status                           object
monthly_premium_auto                      int64
months_since_last_claim                   int64
months_since_policy_inception             int64
number_of_open_complaints                 int64
number_of_policies                        int64
policy_type                              object
policy                                   object
renew_offer_type                         object
sales_channel                            object
total_claim_amount                      float64
vehicle_class                            object
vehicle_size                             object
dtype: object

In [7]:
#do a function already created to deall with the variables that have only 2 unique values, this function selects these features and the ones with only 2 unique values it encodes them 
df = one_hot_encode(df)
df
#in this case response and gender were the only ones

,customer,state,customer_lifetime_value,coverage,education,effective_to_date,employmentstatus,income,location_code,marital_status,...,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,response_No,response_Yes,gender_F,gender_M
0,BU79786,Washington,2763.519279,Basic,Bachelor,2011-02-24,Employed,56274,Suburban,Married,...,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize,1,0,1,0
1,QZ44356,Arizona,6979.535903,Extended,Bachelor,2011-01-31,Unemployed,0,Suburban,Single,...,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize,1,0,1,0
2,AI49188,Nevada,12887.431650,Premium,Bachelor,2011-02-19,Employed,48767,Suburban,Married,...,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize,1,0,1,0
3,WW63253,California,7645.861827,Basic,Bachelor,2011-01-20,Unemployed,0,Suburban,Married,...,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize,1,0,0,1
4,HB64268,Washington,2813.692575,Basic,Bachelor,2011-02-03,Employed,43836,Rural,Single,...,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,Basic,Bachelor,2011-02-10,Employed,71941,Urban,Married,...,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize,1,0,0,1
9130,PK87824,California,3096.511217,Extended,College,2011-02-12,Employed,21604,Suburban,Divorced,...,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize,0,1,1,0
9131,TD14365,California,8163.890428,Extended,Bachelor,2011-02-06,Unemployed,0,Suburban,Single,...,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize,1,0,0,1
9132,UP19263,California,7524.442436,Extended,College,2011-02-03,Employed,21941,Suburban,Married,...,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large,1,0,0,1
9133,Y167826,California,2611.836866,Extended,College,2011-02-14,Unemployed,0,Suburban,Single,...,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize,1,0,0,1

In [8]:
#get only the categorical data and saved it in a df 
categorical_df = df.select_dtypes(object)
categorical_df

,customer,state,coverage,education,employmentstatus,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,BU79786,Washington,Basic,Bachelor,Employed,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,Extended,Bachelor,Unemployed,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,Premium,Bachelor,Employed,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,Basic,Bachelor,Unemployed,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,Basic,Bachelor,Employed,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,Basic,Bachelor,Employed,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,Extended,College,Employed,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,Extended,Bachelor,Unemployed,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,Extended,College,Employed,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,Extended,College,Unemployed,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [9]:
#drop columns that dont make sense as categorical data, this is a merely identity column so i'm going to eleiminate it 
categorical_df = categorical_df.drop(['customer'], axis=1)
categorical_df

,state,coverage,education,employmentstatus,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,Washington,Basic,Bachelor,Employed,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,Arizona,Extended,Bachelor,Unemployed,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,Nevada,Premium,Bachelor,Employed,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,California,Basic,Bachelor,Unemployed,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,Washington,Basic,Bachelor,Employed,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,Basic,Bachelor,Employed,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,California,Extended,College,Employed,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,California,Extended,Bachelor,Unemployed,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,California,Extended,College,Employed,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,California,Extended,College,Unemployed,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [10]:
# a df with the counts of all the unique values in the categorical df. 
pd.set_option('display.max_columns', None)
unique_counts (categorical_df)

,state,state_count,coverage,coverage_count,education,education_count,employmentstatus,employmentstatus_count,location_code,location_code_count,marital_status,marital_status_count,policy_type,policy_type_count,policy,policy_count,renew_offer_type,renew_offer_type_count,sales_channel,sales_channel_count,vehicle_class,vehicle_class_count,vehicle_size,vehicle_size_count
0,California,3150,Basic,5568.0,Bachelor,2748,Employed,5698,Suburban,5779.0,Married,5298.0,Personal Auto,6788.0,Personal L3,3426,Offer1,3752.0,Agent,3477.0,Four-Door Car,4621,Medsize,6424.0
1,Oregon,2601,Extended,2742.0,College,2681,Unemployed,2317,Rural,1773.0,Single,2467.0,Corporate Auto,1968.0,Personal L2,2122,Offer2,2926.0,Branch,2567.0,Two-Door Car,1886,Small,1764.0
2,Arizona,1703,Premium,824.0,High School or Below,2622,Medical Leave,432,Urban,1582.0,Divorced,1369.0,Special Auto,378.0,Personal L1,1240,Offer3,1432.0,Call Center,1765.0,SUV,1796,Large,946.0
3,Nevada,882,NaN,NaN,Master,741,Disabled,405,NaN,NaN,NaN,NaN,NaN,NaN,Corporate L3,1014,Offer4,1024.0,Web,1325.0,Sports Car,484,NaN,NaN
4,Washington,798,NaN,NaN,Doctor,342,Retired,282,NaN,NaN,NaN,NaN,NaN,NaN,Corporate L2,595,NaN,NaN,NaN,NaN,Luxury SUV,184,NaN,NaN

In [11]:
#there are 2 features that have both numerical and categorical values, the 'customer', which I eliminated already and the 'renew_offer_type', wich i am going to take the categorical part e keep the numbers, which coul in fact affect my model. 
categorical_df['renew_offer_type'] = categorical_df['renew_offer_type'].replace({'Offer': ''}, regex=True).map(pd.eval).astype(int)
categorical_df

,state,coverage,education,employmentstatus,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,Washington,Basic,Bachelor,Employed,Suburban,Married,Corporate Auto,Corporate L3,1,Agent,Two-Door Car,Medsize
1,Arizona,Extended,Bachelor,Unemployed,Suburban,Single,Personal Auto,Personal L3,3,Agent,Four-Door Car,Medsize
2,Nevada,Premium,Bachelor,Employed,Suburban,Married,Personal Auto,Personal L3,1,Agent,Two-Door Car,Medsize
3,California,Basic,Bachelor,Unemployed,Suburban,Married,Corporate Auto,Corporate L2,1,Call Center,SUV,Medsize
4,Washington,Basic,Bachelor,Employed,Rural,Single,Personal Auto,Personal L1,1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,Basic,Bachelor,Employed,Urban,Married,Personal Auto,Personal L1,2,Web,Four-Door Car,Medsize
9130,California,Extended,College,Employed,Suburban,Divorced,Corporate Auto,Corporate L3,1,Branch,Four-Door Car,Medsize
9131,California,Extended,Bachelor,Unemployed,Suburban,Single,Corporate Auto,Corporate L2,1,Branch,Four-Door Car,Medsize
9132,California,Extended,College,Employed,Suburban,Married,Personal Auto,Personal L2,3,Branch,Four-Door Car,Large
9133,California,Extended,College,Unemployed,Suburban,Single,Corporate Auto,Corporate L3,4,Call Center,Two-Door Car,Medsize

In [12]:
# in the unique_count df i can see dsome features that have only 3 unique values so I will deal with them:
#I will attribute to coverage 3 levels premium being number 2 extended 1 and basic 0
categorical_df["coverage"] = categorical_df["coverage"].map({"Basic" : 1, "Extended" : 2, "Premium" : 3})


# for location code I will do the same, urban 2 suburban 1 rural 0 
categorical_df["location_code"] = categorical_df["location_code"].map({"Rural" : 1, "Suburban" : 2, "Urban" : 3})
categorical_df.dtypes

#For vehicle type the same, but take the offer as well to turn it into a integer
categorical_df["vehicle_size"] = categorical_df["vehicle_size"].map({"Small" : 1, "Medsize" : 2, "Large" : 3})
categorical_df.dtypes

#in education we can also order them. 
categorical_df["education"] = categorical_df["education"].map({"High School or Below" : 0, "College" : 1, "Bachelor" : 2, 'Master':3, 'Doctor': 3})
categorical_df.dtypes

state               object
coverage             int64
education            int64
employmentstatus    object
location_code        int64
marital_status      object
policy_type         object
policy              object
renew_offer_type     int32
sales_channel       object
vehicle_class       object
vehicle_size         int64
dtype: object

In [13]:
#Policy_type and policy are basically the same thing but policy is more detailed, for policy type there only 3 unique values. So i will drop the policy, since policy type gives all the info we need, wether it is a personal corporate or special policy of contract
categorical_df = categorical_df.drop(['policy'], axis=1)
categorical_df

#as for the policy_type i will just attribute values 
categorical_df["policy_type"] = categorical_df["policy_type"].map({"Personal Auto" : 1, "Corporate Auto" : 2, "Special Auto" : 3})
categorical_df.dtypes

state               object
coverage             int64
education            int64
employmentstatus    object
location_code        int64
marital_status      object
policy_type          int64
renew_offer_type     int32
sales_channel       object
vehicle_class       object
vehicle_size         int64
dtype: object

In [14]:
# this function sorts 3 higher frequency values of each unique value in each feature, and the ones that are lower it chages them to others. Thsi can help with the one hot encoding, and deal with dimensionality 
frequent_values(categorical_df, n=3, replace_value='other')

,state,coverage,education,employmentstatus,location_code,marital_status,policy_type,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,other,1,2,Employed,2,Married,2,1,Agent,Two-Door Car,2
1,Arizona,2,2,Unemployed,2,Single,1,3,Agent,Four-Door Car,2
2,other,3,2,Employed,2,Married,1,1,Agent,Two-Door Car,2
3,California,1,2,Unemployed,2,Married,2,1,Call Center,SUV,2
4,other,1,2,Employed,1,Single,1,1,Agent,Four-Door Car,2
...,...,...,...,...,...,...,...,...,...,...,...
9129,California,1,2,Employed,3,Married,1,2,other,Four-Door Car,2
9130,California,2,1,Employed,2,Divorced,2,1,Branch,Four-Door Car,2
9131,California,2,2,Unemployed,2,Single,2,1,Branch,Four-Door Car,2
9132,California,2,1,Employed,2,Married,1,3,Branch,Four-Door Car,3
9133,California,2,1,Unemployed,2,Single,2,other,Call Center,Two-Door Car,2

In [16]:

# Use the to_csv() method to save the DataFrame to a CSV file
categorical_df.to_csv('categorical_df.csv')