# Lab | Cleaning Categorical Data

In [ ]:
# For this lab, we will be using the dataset in the Customer Analysis Business Case. This dataset can be found in files_for_lab folder. In this lab we will explore categorical data.

# Data Analysis Process
# Remember the process:
# Case Study
# Get data
# Cleaning/Wrangling/EDA
# Processing Data
# Modeling -Validation
# Reporting
# Instructions

# 1. Import the necessary libraries load the data and start a new notebook. 
# Using the same data as the previous lab: we_fn_use_c_marketing_customer_value_analysis.csv

# 2. Find all of the categorical data. Save it in a categorical_df variable.

# 3. Check for NaN values and decide what to do with them, do it now.

# 4. Check all unique values of columns.

# 5. Check dtypes. Do they all make sense as categorical data?

# 6. Does any column contain alpha and numeric data? Decide how to clean it and do it now.

# 7. Would you choose to do anything else to clean or wrangle the categorical data? Comment your decisions and do it now.

# 8. Compare policy_type and policy. What information is contained in these columns. Can you identify what is important?

# 9. Check number of unique values in each column, can they be combined in any way to ease encoding? Comment your thoughts and make those changes.

# 10. Save the cleaned catagorical dataframe as categorical.csv You will use this file again this week.

In [2]:
# 1. Import the necessary libraries load the data and start a new notebook. 
# Using the same data as the previous lab: we_fn_use_c_marketing_customer_value_analysis.csv

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
# 2. Find all of the categorical data. Save it in a categorical_df variable.
customer_df = pd.read_csv('we_fn_use_c_marketing_customer_value_analysis.csv')

new_columns = []
for col in customer_df.columns:
    new_columns.append(col.lower().replace(' ', '_'))
    
customer_df.columns = new_columns
customer_df['effective_to_date'] = pd.to_datetime(customer_df['effective_to_date'])
categorical_df = customer_df.select_dtypes(object)
print(categorical_df.shape)
categorical_df.head()

(9134, 15)

,customer,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,BU79786,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize

In [13]:
# 3. Check for NaN values and decide what to do with them, do it now.

categorical_df.isna().sum()*100/len(categorical_df)

# There are no NaN values in this dataset

customer            0.0
state               0.0
response            0.0
coverage            0.0
education           0.0
employmentstatus    0.0
gender              0.0
location_code       0.0
marital_status      0.0
policy_type         0.0
policy              0.0
renew_offer_type    0.0
sales_channel       0.0
vehicle_class       0.0
vehicle_size        0.0
dtype: float64

In [15]:
# 4. Check all unique values of columns.

for col in categorical_df.columns:
    unique_values = categorical_df[col].unique()
    print(f"Unique values in {col}: {unique_values}")

Unique values in customer: ['BU79786' 'QZ44356' 'AI49188' ... 'TD14365' 'UP19263' 'Y167826']
Unique values in state: ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon']
Unique values in response: ['No' 'Yes']
Unique values in coverage: ['Basic' 'Extended' 'Premium']
Unique values in education: ['Bachelor' 'College' 'Master' 'High School or Below' 'Doctor']
Unique values in employmentstatus: ['Employed' 'Unemployed' 'Medical Leave' 'Disabled' 'Retired']
Unique values in gender: ['F' 'M']
Unique values in location_code: ['Suburban' 'Rural' 'Urban']
Unique values in marital_status: ['Married' 'Single' 'Divorced']
Unique values in policy_type: ['Corporate Auto' 'Personal Auto' 'Special Auto']
Unique values in policy: ['Corporate L3' 'Personal L3' 'Corporate L2' 'Personal L1' 'Special L2'
 'Corporate L1' 'Personal L2' 'Special L1' 'Special L3']
Unique values in renew_offer_type: ['Offer1' 'Offer3' 'Offer2' 'Offer4']
Unique values in sales_channel: ['Agent' 'Call Center' 'Web' 'Branch']
Unique values in vehicle_class: ['Two-Door Car' 'Four-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car']
Unique values in vehicle_size: ['Medsize' 'Small' 'Large']

In [16]:
# 5. Check dtypes. Do they all make sense as categorical data?
categorical_df.dtypes

# Yes, all columns make sense as categorical data.

customer            object
state               object
response            object
coverage            object
education           object
employmentstatus    object
gender              object
location_code       object
marital_status      object
policy_type         object
policy              object
renew_offer_type    object
sales_channel       object
vehicle_class       object
vehicle_size        object
dtype: object

In [17]:
categorical_df.head()

,customer,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,BU79786,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize

In [18]:
categorical_df.columns

Index(['customer', 'state', 'response', 'coverage', 'education',
       'employmentstatus', 'gender', 'location_code', 'marital_status',
       'policy_type', 'policy', 'renew_offer_type', 'sales_channel',
       'vehicle_class', 'vehicle_size'],
      dtype='object')

In [24]:
# 6. Does any column contain alpha and numeric data? Decide how to clean it and do it now.

# Yes, the 'customer', 'policy' and 'renew_offer_type' columns contain alphanumeric values.
# The 'customer' column will contain a large number of unique values and it will not provide much information that can be used for encoding, therefore it could be dropped. 
# The 'policy' column contains the same information as the 'policy_type' column and therefore it could also be dropped.

cat_df = categorical_df.copy()
cat_df = cat_df.drop(['policy','customer'], axis=1)
cat_df.head()

,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate Auto,Offer1,Agent,Two-Door Car,Medsize
1,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,Offer3,Agent,Four-Door Car,Medsize
2,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal Auto,Offer1,Agent,Two-Door Car,Medsize
3,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto,Offer1,Call Center,SUV,Medsize
4,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto,Offer1,Agent,Four-Door Car,Medsize

In [ ]:
# 7. Would you choose to do anything else to clean or wrangle the categorical data? Comment your decisions and do it now.
# No, so far I will keep all the columns with categorical data.

In [ ]:
# 8. Compare policy_type and policy. What information is contained in these columns. Can you identify what is important?
# See answer in question number 6. The 'policy' column was dropped as it contains the same information as 'policy_type'.

In [26]:
# 9. Check number of unique values in each column, can they be combined in any way to ease encoding? 
# Comment your thoughts and make those changes.
for col in cat_df.columns:
    unique_values = cat_df[col].unique()
    print(f"Unique values in {col}: {unique_values}")

Unique values in state: ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon']
Unique values in response: ['No' 'Yes']
Unique values in coverage: ['Basic' 'Extended' 'Premium']
Unique values in education: ['Bachelor' 'College' 'Master' 'High School or Below' 'Doctor']
Unique values in employmentstatus: ['Employed' 'Unemployed' 'Medical Leave' 'Disabled' 'Retired']
Unique values in gender: ['F' 'M']
Unique values in location_code: ['Suburban' 'Rural' 'Urban']
Unique values in marital_status: ['Married' 'Single' 'Divorced']
Unique values in policy_type: ['Corporate Auto' 'Personal Auto' 'Special Auto']
Unique values in renew_offer_type: ['Offer1' 'Offer3' 'Offer2' 'Offer4']
Unique values in sales_channel: ['Agent' 'Call Center' 'Web' 'Branch']
Unique values in vehicle_class: ['Two-Door Car' 'Four-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car']
Unique values in vehicle_size: ['Medsize' 'Small' 'Large']

In [27]:
# 10. Save the cleaned catagorical dataframe as categorical.csv You will use this file again this week.

cat_df.to_csv('categorical.csv', index=False)